@model Northwind.EntityModels.Product

<h2>Product Details</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Product Id</dt>
        <dd>@Model.ProductId</dd>

        <dt>Product Name</dt>
        <dd>@Model.ProductName</dd>

        <dt>Category Id</dt>
        <dd>@Model.CategoryId</dd>

        <dt>Unit Price</dt>
        <dd>@Model.UnitPrice?.ToString("C", new System.Globalization.CultureInfo("sv-SE"))</dd>

        <dt>Units in stock</dt>
        <dd>@Model.UnitsInStock</dd>
    </dl>
</div>

<a href="@Url.Action("CategoryDetails", "Home", new { id = Model.CategoryId })" class="btn btn-secondary mt-4">Back to Category</a>
